@charset "UTF-8";
/* CSS Document */

.body{
	background-color: #2B2B2B;
}

.blue {
    background: blue;
}

/* nav
---------------------- */
.nav-link:hover{
	color: blue
}
.nav-link{
	color: white;
	font-family: Acumin Pro SemiCondensed;
	text-transform: uppercase;
	margin: 25px
}
.navbar-nav{
	margin-left: 280px;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.nav-link :active{
	color: orangered
}
.logo{
	margin-top: 40px;
	align-content: center;
}
.universal{
	oanimation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeinphoto {
    0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.logo{
	margin-top: 40px;
	align-content: center;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
	
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.nav-item :active{
	color: blue
}
.navbar{
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100vw
}
/* footer
---------------------- */

.footer-copyright {
    background-color: rgba(0,0,0,0.2) ;
    color: white;
    font-size: 0.7rem;
}
footer{
	color: white;
	margin-top: 100px
}
form-control{
	background-color: #343434
}
.form{
	padding-left: 450px
}

.form-control{
	background-color: #343434
}

.card-title{
	text-align: center;
	margin: auto
}
.form-group{
	padding: 10px
}
/*body*/
.coming_soon{
	background-color: #FED800;
	color: #2A2A2A;
	padding: 10px;

}
.btn{
	margin-top: 20px
}

.container_borderleft{
	background-color: #3B3B3B;
	color: rgba(255,255,255,1);
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-left: solid 8px #FF0067;
}
.container_borderleft p{
	margin-top: 20px
}

.container_borderleft_blue{
	background-color: #3B3B3B;
	color: rgba(255,255,255,1);
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-left: solid 8px #2C89E4;
}

.container_borderleft_lichtroos{
	background-color: #3B3B3B;
	color: rgba(255,255,255,1);
	padding: 20px;
	margin:40px;
	border-left: solid 8px #DC8873;
}
.container_bordertop{
	background-color: #3B3B3B;
	color: rgba(255,255,255,1);
	padding: 20px;
	margin:40px;
	border-top: solid 8px #FED800;
}

.member{
	border-top: solid 8px #FED800;
}
.titel{
}
.titel1{
	font-family: Acumin Pro SemiCondensed;
	font-size: 35px
}
.titel_roos{
	font-family: Acumin Pro SemiCondensed;
	font-size: 40px;
	letter-spacing: -3px;
	color: #FF0067
}
.titel_blauw{
	font-family: Acumin Pro SemiCondensed;
	font-size: 40px;
	letter-spacing: -3px;
	color: #2C89E4
}
.titel_geel{
	font-family: Acumin Pro SemiCondensed;
	font-size: 40px;
	letter-spacing: -3px;
	color: #FED800;
	margin: 0
}
.titel_groen{
	font-family: Acumin Pro SemiCondensed;
	font-size: 40px;
	letter-spacing: -3px;
	color: #07DB00;
	margin: 0
}

.tekst{
	font-family: Corbel;
	font-size: 17px;
	color: white;
	font-weight: lighter;
	padding-top: 10px
}

.naam{
	color:#FFFFFF;
	font-family: Acumin Pro SemiCondensed;
	margin-top: 10px
}
.album{
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px
}

.store_border{
	background-color: #3B3B3B;
	color: rgba(255,255,255,1);
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-left: solid 8px #2C89E4;
}

.store_border img{
	display: block;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height:auto;
	
}

.store_border div{
	padding: 20px;
	margin: 20px;
}
.hoeveelheid{
	display: block;
	max-width: 100px;
	max-height: 50px;
	width: auto;
	height:auto;
	
}

/*responsive*/
@media only screen and (max-width: 575.98px){
.titel1{
	font-size: 20px;
	margin: 0
}
.titel_roos{
	font-size: 25px;
}
.img_index{
	width: 200px
}
.bynaft{
	font-size: 25px
	}
.album_index{
	width: 100px
	}
	.form{
		margin: 0;
		padding: 0;
		width: 200px
	}
	.card-title{
		font-size: 18px
	}
	.logo{
		width: 212px;
		height: 80px;
	}
	.container_borderleft{
		width: 400px;
		margin: auto;
		padding: auto;
	}
	.nav-link{
		font-size: 15px;
		margin: 0;
		padding: 0
	}
	.album{
		width: 300px
	}
	.titel_about{
		font-size: 20px
	}
	.tekst{
		font-size: 13px
	}
	.tuned{
		font-size: 20px;
		margin-top: 25px;
		margin-bottom: 20px
	}
	.titel2{
		font-size: 20px
	}
	.locatie{
		font-size: 14px;
		height: 20px
	}
	.container_bordertop{
		margin: 0
	}
	.naam{
		font-size: 15px
	}
	.titel_geel{
		font-size: 22px
	}
	.titel_blauw{
		letter-spacing: -1px
	}
}